/* Base */
body {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}

.text-black {
  color: #000;
}

.site-wrap:before {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.site-wrap {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}
.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.btn {
  height: 43px;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  font-size: 13px;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-black {
  padding: 12px 30px;
  background: #000;
  color: #fff;
}
.btn.btn-black:hover,
.btn.btn-black:active,
.btn.btn-black:focus {
  background-color: #333333;
}

.form-control {
  height: 43px;
}
.form-control:active,
.form-control:focus {
  border-color: #ee4266;
}
.form-control:hover,
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative;
}
.site-section-heading:before {
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #ee4266;
}
.site-section-heading.text-center:before {
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #ee4266;
}

.border-top {
  border-top: 1px solid #edf0f5 !important;
}

.site-footer {
  padding: 4em 0;
}
.site-footer ul li {
  margin-bottom: 10px;
}
.site-footer ul li a {
  color: #5c626e;
}
.site-footer ul li a:hover {
  color: #ee4266;
}
.site-footer .footer-heading {
  font-size: 14px;
  color: #25262a;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Navbar */
.site-logo a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #25262a;
  color: #000 !important;
}

.site-logo a:hover {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .site-logo a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border: 1px solid #25262a;
    color: #000 !important;
  }
}

.icons-btn {
  display: inline-block;
  text-align: center;
}
.icons-btn span {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
}
@media (max-width: 991.98px) {
  .icons-btn span {
    width: 24px;
  }
}

.site-menu-toggle {
  display: block;
  text-align: center;
  font-size: 28px;
  height: 40px;
  width: 40px;
  line-height: 40px;
}
.site-menu-toggle > span {
  top: 5px;
  position: relative;
}

.site-navbar {
  background: #faaabb;
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  background: #faaabb !important;
}
.site-navbar.transparent {
  background: transparent;
}
.site-navbar .site-navbar-top {
  border-bottom: 1px solid #f3f3f4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .site-navbar .site-navbar-top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.site-navbar .site-search-icon a span {
  display: inline-block;
  margin-right: 10px;
}
.site-navbar .site-search-icon a:hover {
  text-decoration: none;
}
.site-navbar a {
  color: #868995;
}
.site-navbar a:hover {
  color: #3d3f45;
}
.site-navbar .icon {
  font-size: 20px;
}
.site-navbar .site-top-icons ul,
.site-navbar .site-top-icons ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-navbar .site-top-icons ul li {
  display: inline-block;
}
.site-navbar .site-top-icons ul li a {
  margin-right: 10px;
}
.site-navbar .site-top-icons ul li a.site-cart {
  display: block;
  position: relative;
}
.site-navbar .site-top-icons ul li a.site-cart .count {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -15px;
  margin-top: -20px;
  font-size: 13px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  display: block;
  text-align: center;
  background: #ee4266;
  color: #fff;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.site-navbar .site-top-icons ul li a:hover .count {
  -webkit-box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
  margin-top: -22px;
}
.site-navbar .site-top-icons ul li:last-child a {
  padding-right: 0;
}
.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important;
}
.site-navbar .site-navigation .site-menu {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active > a {
  color: #ee4266;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  font-size: 15px;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}
.site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #25262a;
  font-size: 15px;
  text-decoration: none !important;
}

@media screen and (max-width: 480px) {
  .site-navbar .site-navigation .site-menu > li > a {
    padding: 1px 1px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #25262a;
    font-size: 3vw;
    text-decoration: none !important;
  }
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #ee4266;
}

/* Blocks */
.block-3 .owl-stage {
  padding-top: 40px;
  padding-bottom: 40px;
}

.block-3 .owl-nav {
  position: relative;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.block-3 .owl-nav .owl-prev,
.block-3 .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 30px;
  color: #5c626e;
}
.block-3 .owl-nav .owl-prev:hover,
.block-3 .owl-nav .owl-next:hover {
  color: #25262a;
}
.block-3 .owl-nav .owl-prev.disabled,
.block-3 .owl-nav .owl-next.disabled {
  opacity: 0.2;
}

.block-4 {
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.block-4 .block-4-text h3 {
  font-size: 20px;
  margin-bottom: 0;
}
.block-4 .block-4-text h3 a {
  text-decoration: none;
}

.block-5 ul,
.block-5 ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.block-5 ul li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
  color: #25262a;
}
.block-5 ul li:before {
  top: 0;
  font-family: "icomoon";
  content: "";
  position: absolute;
  left: 0;
  font-size: 20px;
  line-height: 1;
  color: #ee4266;
}
.block-5 ul li.address:before {
  content: "\e8b4";
}
.block-5 ul li.email:before {
  content: "\f0e0";
}
.block-5 ul li.phone:before {
  content: "\f095";
}

.block-6 {
  display: block;
}
.block-6 img {
  display: block;
}
.block-6 h3 {
  font-size: 18px;
}
.block-6 p {
  color: #737b8a;
}

.block-7 .form-group {
  position: relative;
}

.block-7 .form-control {
  padding-right: 96px;
}

.block-7 .btn {
  position: absolute;
  width: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3px;
}

.block-8 .post-meta {
  color: #c4c7ce;
}

.block-8 .block-8-sep {
  margin-left: 10px;
  margin-right: 10px;
}

.site-blocks-table {
  overflow: auto;
}
.site-blocks-table .product-thumbnail {
  width: 200px;
}
.site-blocks-table thead th {
  padding: 30px;
  text-align: center;
  border-width: 1px !important;
  vertical-align: middle;
  color: #212529;
  font-size: 18px;
}
.site-blocks-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: #212529;
}
.site-blocks-table tbody tr:first-child td {
  border-top: 1px solid #ee4266 !important;
}

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important;
}

.site-block-order-table td,
.site-block-order-table th {
  color: #000;
}

.site-block-top-search {
  position: relative;
}
.site-block-top-search .icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.site-block-top-search input {
  padding-left: 40px;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.site-block-top-search input:focus,
.site-block-top-search input:active {
  padding-left: 25px;
}

.site-block-27 ul,
.site-block-27 ul li {
  padding: 0;
  margin: 0;
}

.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
}
.site-block-27 ul li a,
.site-block-27 ul li span {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.site-block-27 ul li.active a,
.site-block-27 ul li.active span {
  background: #ee4266;
  color: #fff;
  border: 1px solid transparent;
}

#slider-range {
  height: 8px;
}
#slider-range .ui-slider-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none !important;
  background: #ee4266;
}
#slider-range .ui-slider-handle:focus,
#slider-range .ui-slider-handle:active {
  outline: none;
}
#slider-range .ui-slider-range {
  background-color: #ee4266;
}

.color-item .color {
  width: 14px;
  height: 14px;
}

.block-16 figure {
  position: relative;
}
.block-16 figure .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  width: 90px;
  height: 90px;
  background: #fff;
  display: block;
  border-radius: 50%;
  border: none;
}
.block-16 figure .play-button:hover {
  opacity: 1;
}
.block-16 figure .play-button > span {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
}

.block-38 .block-38-header .block-38-heading {
  color: #000;
  margin: 0;
  font-weight: 300;
}

.block-38 .block-38-header .block-38-subheading {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.block-38 .block-38-header img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.bag {
  position: relative;
}
.bag .number {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  background: #ee4266;
  right: -10px;
}

.search-wrap {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.search-wrap .container {
  position: relative;
  height: 100%;
}
.search-wrap.active {
  opacity: 1;
  visibility: visible;
}
.search-wrap .form-control {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  z-index: 3;
  font-size: 40px;
}
@media (max-width: 991.98px) {
  .search-wrap .form-control {
    font-size: 20px;
  }
}
.search-wrap .search-close {
  z-index: 4;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-wrap .search-close span {
  font-size: 30px;
}

.about-us-section h3 {
  color: #000;
}
@media screen and (max-width: 480px) {
  .about-us-section h3 {
    font-size: 6vw;
  }
  .title-section h2 {
    font-size: 8vw;
  }
}

.title-section h2 {
  padding-left: 30px;
  border-left: 4px solid #ee4266;
  display: inline-block;
  color: #000;
}

.title-section.text-center h2 {
  border-left: none;
  position: relative;
  padding-left: 0px;
  padding-bottom: 20px;
}
.title-section.text-center h2:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  background: #ee4266;
  content: "";
}

.product-item {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.product-item .product-category {
  position: absolute;
  display: inline-block;
  padding: 10px 30px;
  background: #fff;
  color: #000;
  z-index: 8;
  top: 60%;
  left: 50%;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-item .product-category span {
  color: #ced4da;
  font-size: 12px;
}
.product-item .product-category:hover {
  background: #000;
  color: #fff;
}
.product-item .product-category:hover span {
  color: rgba(255, 255, 255, 0.5);
}
.product-item.full-height {
  height: 100% !important;
}
@media (max-width: 991.98px) {
  .product-item.full-height {
    height: 300px !important;
    margin-bottom: 30px;
  }
}
.product-item.bg-gray {
  background: #f9f9f9;
}
.product-item.sm-height {
  height: 300px;
  padding: 40px;
}
.product-item.md-height {
  height: 400px;
  padding: 40px;
}
.product-item img {
  left: 50%;
  top: 15%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 300px;
  position: absolute;
}

.item-entry .product-item {
  margin-bottom: 30px;
}

.item-entry .item-title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
}
.item-entry .item-title a {
  color: #ee4266;
}
.item-entry .item-title a:hover {
  color: black;
}

.item-entry .item-descrip {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}
.item-entry .item-descrip a {
  color: gray;
}
.item-entry .item-descrip a:hover {
  color: #000;
}

.item-entry .item-category {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
}
.item-entry .item-category a {
  color: gray;
}
.item-entry .item-category a:hover {
  color: #000;
}

.item-entry .item-price {
  color: #000;
  font-weight: bold;
}
.item-entry .item-price del {
  color: #b3b3b3;
}

.custom-border-bottom {
  border-bottom: 1px solid #f9f9f9;
}

.custom-border-top {
  border-top: 1px solid #f9f9f9;
}

.height-auto {
  height: auto !important;
}
